includes:
  - vendor/phpstan/phpstan-laravel/extension.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
    excludePaths:
        - vendor
        - resources
    additionalConfigFiles:
        - vendor/phpstan/phpstan-laravel/extension.neon
        - vendor/phpstan/phpstan-strict-rules/rules.neon

    ignoreErrors:
        # Blade template properties are checked at runtime
        - "#Undefined property: Authenticatable::.*#"
        - "#Call to undefined method.*Authenticatable#"

rules:
    - PHPStan\Rules\Properties\AccessStaticPropertiesWithoutClassNameRule
    - PHPStan\Rules\Properties\AccessPropertiesWithoutClassNameRule
    - PHPStan\Rules\Methods\CallStaticMethodsWithoutClassNameRule
    - PHPStan\Rules\Methods\CallMethodsWithoutClassNameRule
    - PHPStan\Rules\Methods\CallMethodsRule
    - PHPStan\Rules\Methods\CallStaticMethodsRule

behavioural:
    finalByDefault: false
